# Treat R Markdown as R code
*.Rmd linguist-language=R

# Treat Jupyter notebooks as Python code
*.ipynb linguist-language=Python

# Ignore rendered HTML reports in language detection
*.html linguist-documentation

# Ignore macOS and R history files in exports
.DS_Store export-ignore
.Rhistory export-ignore
